<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

 {{range .playload }}
   <a href="/article/view/{{.ID}}">
     <h2>{{.Title}}</h2>
   </a>
   <p>{{.Content}}</p>
   {{end}}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
